@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
Table,
Row,
Button,
.show-grid {
  font-family: 'Quicksand', sans-serif;
  color: #212121;
}

.show-grid {
  font-family: 'Quicksand', sans-serif;
}

.middle {
  margin-top: 20%;
}

.container {
  font-family: 'Quicksand', sans-serif;
  color: #212121;
}

.table {
  table-layout: fixed;
  color: #212121;
}

h2 {
  color: #212121;
}

.container {
  margin-top: 2%;
}

td {
  width: 35%;
  padding: 5px;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #212121;
}

.true {
  background-color: #66bb6a;
}

.wrong {
  background-color: #ef5350;
}

.butFocus {
  background-color: #455A64;
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin: 2% 0 0 1%;
  width: 50%;
}

.butFocusPri {
  background-color: #455A64;
  color: white;
  font-family: 'Quicksand', sans-serif;
  width: 49%;
  margin: 0 0 0 1px;
}

.butFocusSci {
  background-color: #455A64;
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin: 0 0 15px 1px;
  width: 25%;
}

.butFocusPri:focus {
  background-color: #2962ff;
}

.butFocus:focus {
  color: white;
  background-color: #263238;
}

.over {
  float: center;
  background-color: #E53935;
}

span {
  padding: 6px;
}

th {
  padding: 5px;
}

@media only screen and (max-width: 460px) {
  .butFocus {
    width: 100%;
  }
}